

button{margin:10px ;
    text-align:center ;
  width:68px}
  
  .btn-small{
    width:90%;
    text-align: center;
    border-radius: 2px;
    height:40px ;
    background-color:rgb(45, 161, 132) 
  
  }
  
  .frame{
    width:100%;
    background-color:rgb(15, 4, 22) ;
  padding:15px 10px;
  margin:4px 0px
  }
  
  .frame2{
    width:100%;
   padding:2px 10px;
  margin:4px 0px
  }
  .frame-inactive{
    width:100%;
    color: black;
    background-color:rgb(85, 84, 84) ;
  padding:15px 10px;
  margin:4px 0px
  }
  
  .true{
    width:100%;
   
    background-color:rgb(54, 116, 90) ;
  padding:15px 10px;
  margin:4px 0px
  }
  .Answered{ background-color:rgb(5, 94, 39) ;}
  .Unanswered{ background-color:rgb(15, 4, 22) ;}
  .filled-in{
    border: 0px
  }
  
  .footercover{
    margin-top:40px 
  }
  
  #quiz{
    background-color: rgb(60, 40, 107);
     color: white;
      height:100vh ;
      margin: 0px;
      text-align: left;
  
     
  }
  .index{
    margin-bottom: 0px
  }
  .cover{background-color:rgb(226, 98, 121)}
  .success{background-color:green }
  .warning{background-color:red }
  .timer{
  
    margin-right:  30px;
   
  
  }
  .title{
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    padding-left: 0px;
  }
  
  
  
  
  .question{
   font-size: 23px
  
  }
  .question-cover{
    margin-bottom:20px
  }
  .quizpage, .reviewpage{
    height:80vh ;
    background-color:  rgba(5, 7, 31, 0.6);
    width: 100%;
   border: 1px solid #5256BC;
   border-radius: 5px;
    overflow: hidden;
    padding-top: 30px;
  
  
  }
  
  .startpage{
   
    background-color:  rgba(5, 7, 31, 0.6);
    width: 100%;
   border: 1px solid #5256BC;
   border-radius: 5px;
    overflow: auto;
    padding-top: 30px;
    padding-bottom: 30px;
   margin-top: 0px;
  
  
  }
  
  
   @media only screen and (min-width:768px){
    
  
     .quizpage, .reviewpage{
      height:80vh ;
      background-color:  rgba(5, 7, 31, 0.6);
      width: 70%;
     border: 1px solid #5256BC;
     border-radius: 5px;
      overflow: hidden;
      padding-top: 30px;
    
    
    }
  
     .wrapper{
      width:70%;
     margin-top: 30px;
     margin-bottom: 60px;
     }
   }